Assigned to: {{ engineer }}

Hostname: {{ ansible_hostname }}
IP Address: {{ ansible_default_ipv4.address }}
Operating System: {{ ansible_distribution }} {{ ansible_distribution_version }}
Operating System Family: {{ ansible_os_family }}
Kernel: {{ ansible_kernel }}
